:host {
    display: flex;
    justify-content: center;
}

.riddle {
    border: 2px solid #001a8e;
    border-radius: 10px;
    min-width: 450px;
}

@media screen and (max-width: 480px) {
    .riddle {
        min-width: 350px;
    }
}

.question {
    padding: 20px;
    font-size: 24px;
    background-color: #001a8e;
}

@media screen and (max-width: 480px) {
    .question {
        font-size: 21px;
    }
}

.option {
    height: 60px;
    font-size: 17px;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 480px) {
    .option {
        min-width: 40px;
    }
}

@media screen and (min-width: 780px) {
    .option:hover {
        background-color: lightcyan;
        color: #424242;
    }
}

.option:last-child:hover {
    border-radius: 0 0 10px 10px;
}

.correct, .correct:hover {
    color: white;
    background-color: green;
}

.wrong, .wrong:hover {
    color: white;
    background-color: darkred;
}