header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: #039BE5;
    padding-top: 30px;
    padding-bottom: 10px;         
}

.header-content {
    padding: 0 30px;   
}

header h1 {
    display: inline-block;
    color: white; 
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;   
}

.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: -125px;        
}

.sticky-main {
    margin-top: 90px;
}

.main-content-container {
    padding: 35px 15px 15px 15px;
}