header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: #039BE5;
}

header h1 {
    display: inline-block;
    color: white; 
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
}

.main-content-container {
    padding: 35px 15px 15px 15px;
}