.summary {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
}

@media screen and (max-width: 480px) {
    .summary {
        margin-top: 20px;
    }
}

.summary div {
    margin: auto;
    margin-top: 10px;
}