/* You can add global styles to this file, and also import other style files */
body {
    background: #424242;
    color: white;
    margin: 0px;
}

@import '../node_modules/flag-icon-css/css/flag-icon.min.css';
